@import url(/css/style.css);

:root, html[data-theme='dark']{
    --html: blue;
    --java: green;
    --project:red;
    --ucd:orange;
    --ucd-border:rgb(255, 219, 152);
    --media:yellow;
    --active: purple;
}
html[data-theme='light']{
    --html: blue;
    --java: green;
    --project:red;
    --ucd:orange;
    --media:yellow;
    --active: purple;
}
  
main{
    z-index: 2;
}

.projects-main{
    display: flex;
    flex-direction: row;
    gap: 8em; 
    max-width: 100%;
    margin: 1em;
    padding-left: 2em;
    margin-left: 3em;
}

.filter{
    display: flex;
    gap: .95em;
    flex-direction: column;
    max-width: 100%;
    width: 30%;
    line-height: 1.5em;
}
.filter h2{
    margin-bottom: 1em;
}
.boxes-filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    max-width: 100%;
}

.box-filter{
    width: 22em;
    max-width: 100%;
    height: 25em;
    overflow: hidden;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}
.box-filter img{
    max-width: 100%;
    width: 100%;
    height: 50%;
    max-height: 50%;
    transition: 0.3s ease-in-out;
    margin-bottom: 1em;
} 
 .box-filter img:hover{
    transform: scale(1.1);
    opacity: 0.5;
} 


.active{
    color: var(--active);
}
.html{
    color: var(--html);
}
.javascript{
    color: var(--java);
}
.project{
    color: var(--project);
}
.ucd{
    color: var(--ucd);
}
.media{
    color: var(--media);
}
.box-filter ul li{
    margin-left: 1em;
    line-height: 2em;
    margin-right: 1em;
}
.box-filter ul li .ucd{
    background-color: var(--ucd-border);
    border-radius: 7px;
    padding: .2em;
    width: max-content;
    font-size: small;
}

figcaption{
    width: 100%;
    padding: 1em;
    max-width: 100%;
}

.ucdtop{
    border-top: 2px solid var(--ucd);
}



@media (max-width: 768px){
    .projects-main{
     margin-left: 10px;
     padding: 0;
     flex-direction: column;
     gap: 2em;
    }
    
 
 }