<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split</title>
    <link href= "/ass/layouts/css/split.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navholder">
                <li> <a href="/ass/layouts/hero.html" class="nav-links">hero page</a></li>
                <li><a href="/ass/layouts/asymmetrical.html" class="nav-links">asymmetrical page</a></li>
                <li><a href="/ass/layouts/split.html" class="nav-links">split page</a></li>  
                <li><a href="/ass/layouts/alternating.html" class="nav-links">alternating page</a></li> 
            </ul>
        </nav>
    </header>

    <main class="main">
        <p class="letter">W</p>
        <aside class="section1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo eu odio nec tincidunt. Duis vulputate vestibulum lectus id tincidunt. Sed ultricies accumsan lobortis. Nunc blandit id diam quis sodales. Ut at ipsum pretium, vulputate arcu sed, placerat odio. Morbi sed nunc in tortor auctor aliquet. Cras tincidunt ipsum id ipsum sagittis, in sagittis ex iaculis. Morbi consequat velit turpis. Ut at turpis eu turpis commodo placerat. Proin tempor tempor enim ac finibus. Vivamus dapibus suscipit est vitae ullamcorper. Phasellus laoreet, ipsum sed congue suscipit, arcu eros
                imperdiet arcu, vitae lobortis nibh leo in velit. Fusce vel sagittis magna. Nam mollis diam magna. Donec porta quis purus ut tristique.</p>
        </aside>
        <aside class="section2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo eu odio nec tincidunt. Duis vulputate vestibulum lectus id tincidunt. Sed ultricies accumsan lobortis. Nunc blandit id diam quis sodales. Ut at ipsum pretium, vulputate arcu sed, placerat odio. Morbi sed nunc in tortor auctor aliquet. Cras tincidunt ipsum id ipsum sagittis, in sagittis ex iaculis. Morbi consequat velit turpis. Ut at turpis eu turpis commodo placerat. Proin tempor tempor enim ac finibus. Vivamus dapibus suscipit est vitae ullamcorper. Phasellus laoreet, ipsum sed congue suscipit, arcu eros
                 imperdiet arcu, vitae lobortis nibh leo in velit. Fusce vel sagittis magna. Nam mollis diam magna. Donec porta quis purus ut tristique.</p>
        </aside>
    </main>

</body>
</html>

